{% extends 'layout.html' %}
{% block content %}
<div class="container">
<!--========= the navbar starts here ===============-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Catalogue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Catalogue <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/">All Cigars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in brands %}
            <a class="dropdown-item" href="{{url_for('get_brand', id= brand.id)}}">{{brand.name}}</a>
             <!-- id=get_brand.id, page=brand.prev_num)}} -->
            {% endfor %}
          </div>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
         <a href="{{url_for('customer_logout')}}" class="nav-link">{{current_user.name}}</a>
       </li>
        <li class="nav-item">
          <a href="{{url_for('customer_logout')}}" class="nav-link"> Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
         <a href="{{url_for('customer_register')}}" class="nav-link">Sign in</a>
       </li>
        <li class="nav-item">
         <a href="{{url_for('customerLogin')}}" class="nav-link">Register</a>
       </li>
       {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('getCart')}}" tabindex="-1" >Cart({{session['Shoppingcart'] |length}})</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrator
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="{{url_for('register')}}">Register</a>
            <a class="dropdown-item " href="{{url_for('login')}}">Log in</a>
            <a class="dropdown-item " href="{{url_for('customer_logout')}}">Log out</a>
            <a class="dropdown-item " href="{{url_for('admin')}}">Cigars Table</a>
            <a class="dropdown-item " href="{{url_for('addproduct')}}">Add a Cigar</a>
            <a class="dropdown-item " href="{{url_for('addbrand')}}">Add a Cigar Brand</a>
          </div>
          
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--========= the navbar ends here ===============-->
<div class="container">
    <div class="row">

{% if brand %}
{% for b in brand %}
<div class="col-md-3 mt-4">
  <div class="card">
      <img src="{{url_for('static', filename='images/' + b.image_3)}}" class="card-img-top" alt="{{b.name}}" height="180" width="90">
      <div class="card-body">
          <h5 class="text-center">{{b.name}}</h5>
          <p class="text-center">Price ${{b.price}}</p>
          </div>
          <div class="card-footer">
              <a href="{{url_for('single_page', id=b.id)}}"  class="float-start btn btn-sm btn-primary">More info</a>
              <!-- <a href="#"  class="float-end btn btn-sm btn-warning">Add to cart</a> -->

              <form action="{{url_for('AddCart')}}" method="POST">
                <input type="hidden" name="product_id" value="{{b.id}}">
                <button type="submit" class="btn btn-sm btn-warning" float-right>Add to Cart</button>
                <input type="hidden" name="quantity" value="1" min="1">
            </form>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
</div>


{% else %}

        {% for product in products %}
      <div class="col-md-3 mt-4">
        <div class="card">
            <img src="{{url_for('static', filename='images/' + product.image_3)}}" class="card-img-top" alt="{{product.name}}" height="180" width="90">
            <div class="card-body">
                <h5 class="text-center">{{product.name}}</h5>
                <p class="text-center">Price ${{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=product.id)}}"  class="float-start btn btn-sm btn-primary">More info</a>
                    <form action="{{url_for('AddCart')}}" method="POST">
                      <input type="hidden" name="product_id" value="{{product.id}}">
                      <button type="submit" class="btn btn-sm btn-warning" float-right>Add to Cart</button>
                      <input type="hidden" name="quantity" value="1" min="1" max="{{product.stock}}">
                  </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}

